.lead__subtitle {
  margin: 0 0 64px;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
}


@media screen  and (max-width: 1024px) {
  .lead__subtitle {
  margin-bottom: 56px;
  }
}


@media screen  and (max-width: 695px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.1;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
  }
}
