.cover {
  max-width: 1184px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-image: url('../../images/__background.jpg');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover::after {
  content: '';
  width: 0;
  height: 0;
  padding-top: calc(740 / 1184 * 100%);
}


