.page__lead {
  margin: 56px auto 92px;
}


@media screen  and (max-width: 1024px) {
  .page__lead {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen  and (max-width: 768px) {
  .page__lead {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 88px;
  }
}

@media screen  and (max-width: 695px) {
  .page__lead {
    margin-bottom: 64px;
  }
}
