.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
}

@media screen  and (max-width: 570px) {
  .cover__title {
    font-size: 32px;
    white-space: pre-line;
  }
}
