.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  grid-template-areas:
  "title website"
  "image paragraph";
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}
